
@{
    ViewBag.Title = "Thanks";
}
<div class="jumbotron">
    <h2>Thanks for Your Order!</h2>
    <div class="row jumbotron">
        <a href="/" class="btn btn-info">Continue shoping!</a>
    </div>
</div>

