@using TelerikAcademy.FinalProject.Web.Models.Home
@using TelerikAcademy.FinalProject.Web.Models.Category
@*@model ICollection<ProductViewModel>*@


@{
    ViewBag.Title = "Products Page";
    List<ProductViewModel> products = ViewData["products"] as List<ProductViewModel>;
    List<CategoriesNavigationViewModel> categories = ViewData["categories"] as List<CategoriesNavigationViewModel>;
}

@*<div id="search">
    @using (@Html.BeginForm()) 
    {
        <input class="form-control-inline" type="text" name="searchName" />
        <input class="form-control-inline btn btn-info" type="submit" value="Search" name="search"/>
    }
</div>*@
<div id="product-container">
    <div id="categories">
        <p class="text-center">Categories</p>
        @Html.Partial("_CategoriesPartial", categories)
    </div>
    <div id="products">
        <div class="row">
            <div class="latest-recipes row eq-height">
                <h3 class="col-sm-12" id="enjoy">All Products</h3>
                <div class="col-sm-12 eq-height">
                    @foreach (var product in products)
                    {
                        @Html.Partial("_ProductPreviewPartial", product)
                    }
                </div>
            </div>
        </div>
    </div>
</div>