@using TelerikAcademy.FinalProject.Web.Models.Home
@using TelerikAcademy.FinalProject.Web.Models.Category


@{
    ViewBag.Title = "Products Page";
    List<ProductViewModel> products = ViewData["products"] as List<ProductViewModel>;
    List<CategoriesNavigationViewModel> categories = ViewData["categories"] as List<CategoriesNavigationViewModel>;
}

<div class="search">
    @using (Ajax.BeginForm("FilteredProducts", new { }, new AjaxOptions()
    {
        HttpMethod = "Post",
        UpdateTargetId = "products",
        InsertionMode = InsertionMode.Replace,
    }, new { id = "ajaxForm" }))
    {
        <div class="form-group has-feedback">
            <input type="text" class="form-control" placeholder="Search" id="inputSuccess2" name="searchName" />
        </div>
    }
</div>
    

<div id="product-container">
    <div id="categories">
        <p class="text-center">Categories</p>
        @Html.Partial("_CategoriesPartial", categories)
    </div>
    <div id="products">
        <div class="row">
            <div class="latest-products row eq-height">
                <h3 class="col-sm-12" id="enjoy">All Products</h3>
                <div class="col-sm-12 eq-height">
                    @foreach (var product in products)
                    {
                        @Html.Partial("_ProductPreviewPartial", product)
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $(function () {
            $('[name="searchName"]').keyup(function () {
                $('#ajaxForm').submit()
            })
        })
    </script>
}