@using TelerikAcademy.FinalProject.Web.Models.Home
@model ICollection<ProductViewModel>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Computers Store</h1>
    <p class="lead">Best Products Best Price and Free Shipping</p>
    <p><a href="/products" class="btn btn-primary btn-lg">Start Shopping Now &raquo;</a></p>
</div>

<div class="row">
    <div class="latest-recipes row eq-height">
        <h3 class="col-sm-12" id="enjoy">Latest Products</h3>
        <div class="col-sm-12 eq-height">
            @foreach (var product in Model)
            {
                @Html.Partial("_ProductPreviewPartial", product)
            }
        </div>
    </div>
    
</div>
